:root{
	--primary-color: #284038;
	--secondary-color: #DA9F80;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: EffraRegular;
	src: url(../../utils/fonts/Effra_Regular.ttf);
}
@font-face {
	font-family: Alexandria;
	src: url(../../utils/fonts/Alexandria-VariableFont_wght.ttf);
}

html, body{
	width: 100vw;
	max-width: 100vw;
	overflow-x: hidden;
}

#nav {
	width: 100%;
	font-family: EffraRegular, Arial !important;
	padding: 1em;
	padding-bottom: 0;
	position: fixed;
	background-color: white;
	z-index: 999;

	.first_row{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.7em;

		.lang_wrapper{
			direction: rtl;

			button{
				background-color: transparent;
				border: 0;
				color: black;
				width: 6em;
			    display: flex;
			    flex-direction: row;
			    align-items: center;
			    justify-content: space-between;
			    padding: 0.35em 0.7em;
			}

			li{
				cursor: pointer;

				button{
					width: 100%;
					direction: ltr;
				}
			}
		}

		.title{
			color: var(--primary-color);
			direction: rtl;
			text-align: center;
			align-items: center;
			

			*{
				font-family: Alexandria;
				font-size: 20px;
				margin: 0;
				width: 100vw;
				position: absolute;
				left: 0;
				z-index: -1;
			}
		}

		.user_wrapper{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 12.3em;

			.option_wrapper{
				display: flex;
				align-items: center;
				justify-content: center;

				border: 1px solid var(--primary-color);
				border-radius: 50%;

				background: transparent;
				padding: 0.5em;
				outline: none;
				color: var(--primary-color);
				cursor: pointer;
				height: 100%;

				transition: 0.5s;

				svg{
					fill: var(--primary-color);
				}
			}

			.login-wrapper{
				border-radius: 3em;
				font-size: 15px;
				font-weight: bold;
				padding: 0.5em 0.7em;
				transition: 0.5s;
			}
			.login-wrapper:hover{
				background-color: #ebdfd8;
			}

			.option_wrapper:hover{
				transform: scale(1.03);
			}
		}

	}

	.second_row{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1em;
		border-top: 1px solid #efefef;

		.navbar{
			--bs-navbar-nav-link-padding-x: 0.9rem;
			background-color: transparent !important;
		}

		#navbarSupportedContent{
			direction: rtl;
		}

		.active{
			color: var(--secondary-color) !important;
			font-weight: bold;
		}

		.nav-link{
			font-size: 18px;
			color: #3E3E3E;
		}

		.nav-link:hover{
			color: black;
		}
		
		ul{
			padding-right: 0;
		}

		.container-fluid{
			justify-content: center;
		}

		.navbar-toggler:focus{
			box-shadow: none;
		}

	}
}



#header{
	margin-top: 12.5vh;
	background-image: url(../imgs/header.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	width: 100%;
	height: 81vh;
	margin-bottom: 1em;

	display: flex;
	align-items: center;
	text-align: right;
	direction: rtl;

	transition: 0.5s;

	h1{
		font-family: Alexandria;
		font-weight: 700;
		font-size: 48px;
		line-height: 1.7;
		color: var(--secondary-color);
		text-shadow: 2px 2px 18.4px #000000;
		margin-bottom: 0.7em;
	}

	p{
		color: white;
		font-size: 20px;
		text-shadow: 4px 4px 6.2px #000000;
	}

	.overlay{
		position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(40, 64, 56, 0.4); /* #284038 with 47% opacity */
        pointer-events: none; /* Ensures interactions go through */
        z-index: 0;
	}

	.credits{
		position: absolute;
		left: 0.5em;
		bottom: 0.5em;
		color: rgba(255, 255, 255, 0.6);
	}

	*{
		z-index: 900;
	}

}



main{
	p:first-child{
		margin-top: 1.5em;
		direction: rtl;
		text-align: right;
		margin-bottom: 2em;
		font-family: Alexandria;
		font-size: 16px;
	}

	.card_wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		height: 570px;
		max-height: 570px;
		background-color: #A1D2C21F;
		border: 1.5px solid #A1D2C2;
		border-radius: 24px;

		padding: 25% 2em;
		transition: 0.5s;

		img, svg{
			width: 140px;
			height: 109px;
			margin-bottom: 2em;
		}

		h3{
			font-weight: bold;
			text-align: center;
			margin-bottom: 1em;

			background-image: linear-gradient(transparent 45%, #DA9F809C 55%);
            background-size: 100% 55%; /* Ensures only half is covered */
            background-repeat: repeat;
            background-position: 0 100%; /* Adjusts the highlight position */
		}

		.long{
			background-size: 100% 35%;
		}

		p{
			text-align: center;
			font-size: 24px;
		}
	}
	.card_wrapper:hover{
		transform: scale(1.03);
	}
}

.globe_container{
	background-color: #F8F6F1;

	margin-top: 2.5em;
	padding-top: 6em;
	padding-bottom: 6em;

	#globe-container{
		width: 100%;
		height: 100%;
		max-height: 20em;
	}

	canvas{
		width: 100% !important;
		height: 100% !important;
	}

	.globe-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	h1{
		direction: rtl;
		text-align: right;
		font-weight: bold;
		margin-bottom: 0.7em;
	}

	p{
		direction: rtl;
		text-align: justify;
		font-weight: 500;
	}

	.globe_statistics{
		margin-top: 4.5em;
		justify-content: center;

		.col-12.col-lg-3{
			display: flex;
			justify-content: center;
		}

		.card-wrapper{
			max-width: 330px;
			background-color: white;
			border-radius: 8px;

			width: 100%;
			height: 100%;
			padding: 20px;

			display: flex;
			flex-direction: row;
			align-items: stretch;
			justify-content: center;

			transition: 0.5s;

			div:first-child{
				flex-grow: 1;
				margin-right: 18px;

				display: flex;
				flex-direction: column;
				justify-content: center;

				*{
					text-align: right;
					transition: 0.5s;
				}

				h1{
					font-weight: 500;
					font-size: 24px;
				}

				p{
					margin-bottom: 0;
					font-weight: 400;
					font-size: 16px;
				}

			}

			div:last-child{
				background-color: #cbd1cd;
				border-radius: 8px;
				padding: 16px;

				display: flex;
				justify-content: center;
				align-items: center;

				img{
					width: 50px;
					height: 40px;
				}
			}
		}

		.card-wrapper:hover{
			transform: scale(1.03);
		}
	}
}



footer{
	overflow-y: hidden;

	background-color: #30473f;
	padding-top: 5em;
	padding-bottom: 2em;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	*{
		margin-bottom: 0;
	}

	.footer-wrapper > div{
		width: 100%;
		height: 100%;
		
		display: flex;
		align-items: stretch;

		text-align: right;
		direction: rtl;
		color: #efefef;

		img{width: 100%}
	}
	.footer_logo_wrapper{
		margin-top: 0 !important;

		div{
			display: flex;
			align-items: center;
		}
	}

	.copyrights{
		margin-top: 1em;
		text-align: center;
		color: white;

		a{
			text-decoration: none;
			color: white;
		}

		*{
			margin: 0 0.7em;
		}
	}
}



.button-explore{
	display: inline-flex;
	align-items: center;
	padding: 6px 20px;
	padding-left: 15px;
	margin-top: 3.5em;

	border: none;
	outline: none;
	border-radius: 24px;
	background-color: var(--secondary-color);		
	
	direction: rtl;
	color: white;
	text-decoration: none;

	svg{
		margin-right: 0.5em;
	}
}
/* =======================================
=======================================
Media Query Start
=======================================
======================================= */

@media only screen and (max-width: 800px){
	#nav > .first_row{
		padding: 0;
	}

	#header{
		h1{
			font-size: 48px;
		}
	}

	main{
		.card_wrapper{
			h3{
				background-size: 100%;
			}

			.long{
				background-size: 100% 50%;
			}
		}
	}
}